
html {
    font-size: 625%
}

body {
    color: white;
    font-family: "Microsoft YaHei UI", "serif","PingFang SC Regular","PingFang SC Bold";
    font-size:16px;

}
div.download-pc {
    margin: auto;
}

div.main {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../img/backgroundImg.png") no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


div.footer {
    margin-top: 5%;
}

.block-inline {
    display: inline-block;
}

.en_lang_btn {
    color: #fff;
}

.protocol-font {
    color: #737a8d;
}

.download-font {
    color: #413f4d;
}

.download-font-phone {
    color: #747f93;
}

.btn-download-android {
    width: 78%;
    background: #4781ff;
    color: white;
    font-size: 1.5rem;
    padding: 0.08rem 0;
}

.btn-download-ios {
    width: 78%;
    background: #6750e9;
    color: white;
    font-size: 1.5rem;
    padding: 8px 0;
}
.header_wrap{
    height: 0.84rem;
    max-width: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 0.84rem;
}
.container_fluid{
    width: 100%;
}
.header_logo{
    padding-left: 0.2rem;
}
.header_logo img{
}
.font_container{
    padding-top: 19vh;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;

}
.content_wrap{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    background: url("../../img/pc_background_phone.png") no-repeat right;
    background-size: auto 100%;
}
.title{
    padding-left: 0.2rem;
    font-size: 2.6vw;
    color: #fff;
}

#font-big{
    font-size: 2.6vw;
    color: #fff;
}
.title_info{
    width: 60%;
    margin-left: 0.2rem;
    font-size: 2vw;
    color: #fff;
}
.download_content{
    margin-top: 0.5rem;
    display: flex;
    margin-left: 0.2rem;
}
.download_content p{
    font-size: 0.2rem;
}

.lang_block{
    color: #000;
}
.lang_block:hover{
    cursor: pointer ;
}
.ch_lang_btn{
    padding: 0.04rem 0.12rem;
    font-size: 0.15rem;
    background: #fff;
    border-radius: 0.12rem;
}
.en_lang_btn{
    padding: 0.04rem 0.12rem;
    font-size: 0.15rem;
    border-radius: 0.12rem;
    background: transparent;
}
.line{
    display: inline-block;
    height:  0.14rem;
    width: 0.02rem;
    background: #fff;
    margin: 0.35rem 0.15rem 0 0.15rem;
}
.header_container{
    width: 100%;
}
.footer_content{
    height: 0.4rem;
    width: 100%;
    color: #000;
}
.footer_bottom_content{
    margin: 0 auto;
    max-width: 12rem;
    display: flex;
    justify-content: space-between;
}
.copyright_content{
    color: #fff;
    margin: 0 auto;
}
.privacy_content{
    margin-left: 0.2rem;
}
.privacy_content a{
    color: #fff;
    display: inline-block;
}
.bottom_line{
    color: #fff;
    margin: 0 0.15rem;
}
.public-beta-font{
    color: #fff;
    font-size: 0.2rem;
    padding-top: 0.58rem;
    padding-left: 0.2rem;
}

.lang_en_btn{
    font-size: 0.12rem;
    padding: 0.02rem 0.1rem;
    border-radius: 0.26rem;
    color: #fff;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
#all{
    width: 100%;
    height: 100%;
}
.phone{
    height: 100%;
    background: url("../../img/mobile_background.png") no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll;
}

.mobile_header_logo{
    width: 100%;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.mobile_header_logo img{
    width: 1.2rem;
    height: 0.3rem;
}
.mobile_content{
    padding: 0.21rem 0.2rem 0 0.2rem;
    width: 100%;
    height: 100%;
}
.mobile_img_logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mobile_ios_content{
    width: 80%;
    margin: 0.2rem auto;
    border-radius: 0.06rem;
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fff;
}
.mobile_android_content{
    width: 80%;
    margin: 0.2rem auto;
    border-radius: 0.06rem;
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fff;
}
.mobile_download_ios_content{
    margin: 0 auto;
}
.ios_logo{
    padding-left: 0.02rem;
    height: 0.2rem;
}
.mobile_android_logo{
    height: 0.2rem;
}
.mobile_line{
    display: inline-block;
    height: 0.14rem;
    width: 0.01rem;
    background: #fff;
    margin: 0.02rem 0.05rem 0 0.05rem;
}
.mobile_lang_content {
    display: flex;
    align-items: center;
}
.android{
    color: #3498DB;
    font-size: 0.12rem;
    width: 0.46rem;
    text-align: center;
}
.ios{
    width: 0.46rem;
    color: #3498DB;
    font-size: 0.12rem;
    text-align: center;
}
.font_content{
    flex: 1;
    text-align: center;
    padding-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.font_content h5{
    margin: 0;
    padding: 0;
    font-size: 0.22rem;
    font-weight: 900;
    background-image: -webkit-linear-gradient(left, #3498DB, #62B5ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lang-content{
    color: #000;
    text-align: right;
    padding-top: 0.02rem;
}
.lang-content span:nth-child(1){
    text-align: center;
    padding: 0.02rem 0.05rem;
    border-radius: 0.09rem;
}
.lang-content span:nth-child(2){
    text-align: center;
    padding: 0.02rem 0.05rem;
    border-radius: 0.09rem;
}
p{
    margin: 0;
    padding: 0;
}
.info_title{
    padding-top: 0.18rem;
    font-size: 0.18rem;
    color: #fff;
}
.info_title_client{
    font-size: 0.16rem;
    color: #fff;
}
.public-beta-title{
    font-size: 0.12rem;
    color: #717679;
    margin: 0;
    padding: 0;
    padding-top: 0.3rem;
}
.footer{
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 0;
}
.footer a{
    color: #fff;
}
.mobile_bottom_line{
    font-size: 0.12rem;
    padding: 0 0.05rem;
    color: #fff;
}
.footer p{
    padding: 0.05rem 0 0.05rem 0;
}
.ch_lang_btn{
    color: #3498DB;
}
.lang_cn_btn{
    padding: 0.02rem 0.1rem;
    border-radius: 0.26rem;
    font-size: 0.12rem;
    color: #3498DB;
    background: #fff;
}
.default-color{
    color: #fff;
    background: transparent;
}
.change-color{
    color: #3498DB;
    background: #fff;

}
.hide-text{
    display: none;
}
a:focus {
    outline: none;
}
.terms_link{
    font-size: 0.12rem;
    padding: 0;
}
.content_container{
    flex: 1;

}
.bottom_copyright{
    font-size: 0.12rem;
    color: #fff;
}
.privacy_link{
    font-size: 0.12rem;
    color: #fff;
}


@media screen and (max-height: 500px){
    .font_container{
        padding-top: 0;
        max-width: 12rem;
        margin: 0 auto;
        color: #fff;
    }
}
@media screen and (max-width: 900px){
    .title{
        font-size: 0.2rem;
        color: #fff;
    }
    .title_info{
        width: 60%;
        color: #fff;
        font-size: 0.17rem;
    }
    #font-big{
        font-size: 0.2rem;
        color: #fff;
    }
    #title_first{
        margin-right: 50%;
    }
}
@media screen and (min-width: 1366px){
    .title{
        font-size: 0.35rem;
        color: #fff;
    }
    .title_info{
        width: 60%;
        color: #fff;
        font-size: 0.28rem;
    }
    #font-big{
        font-size: 0.28rem;
        color: #fff;
    }
}
@media screen and (max-width: 900px){
    .qr_content{
        z-index: 1000;
    }
    .download_content{
        display: flex;
        flex-direction: column;
    }

    .ios_content{
        z-index: 1;
        margin-top: 0.3rem;
        margin-left: 0;
    }
    .android_content:hover.qr_content{
        z-index: 10;
    }
    .android_content{
        width: 1.4rem;
    }

}
.mobile_download_android_content{
    box-sizing: border-box;
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_download_ios_content{
    box-sizing: border-box;
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_phone_img{
    width: 35%;
    margin: 0 auto;
}
.mobile_phone_img{
    width: 100%;
}
.mobile_img{
    padding-top: 0.45rem;
    width: 70%;
    margin: 0 auto;
}
.mobile_img img{
    width: 100%;
}
.comming_soon{
    padding-top: 0.1rem;
    font-size: 0.12rem;
}
